$black: #000;
$dark-gray: #1c1c1e;
$light-gray: #d3d3d3;
$lighter-gray: #f7f7f7;
$white: #fff;
$red: #db4747;

/* Global */
body {
  background-color: $black;
}

.section-title {
  color: $white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.section-title::after {
  content: "";
  margin: 10px auto;
  display: block;
  border-bottom: 2px solid $white;
  width: 50px;
}

* {
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

/* Header */

.mobile-menu {
  padding-left: 18px;
  padding-top: 12px;
}

.menu {
  display: none;
  padding: 2px 0 2px 20px;
  margin: 0 5px;
}

#toggle-open:checked ~ .menu {
  display: flex;
}

#toggle-open:checked ~ .menu-close {
  display: flex;
}

#toggle-open:not(:checked) ~ .menu {
  display: none;
}

#toggle-open:not(:checked) ~ .menu-close {
  display: none;
}

.menu-links {
  color: $white;
  text-decoration: none;
  padding-right: 20px;
  transition: color 0.5s ease-in-out;
}

.menu-links:hover {
  color: $red;
  text-decoration: none;
}

.nav-bar {
  z-index: 999;
}

.nav-bar-top {
  height: 30px;
  background-color: $black;
}

.nav-top-links {
  text-decoration: none;
}

.nav-bar-bottom {
  height: 65px;
  background-color: $black;
}

.header-logo {
  width: auto;
  height: 30px;
  margin-right: 100px;
}

.nav-bottom-links {
  color: $white;
  text-decoration: none;
  padding-right: 34px;
  transition: color 0.5s ease-in-out;
}

.nav-bottom-links:hover {
  color: $red;
  text-decoration: none;
}

.button-campaing {
  border: solid $red 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: $red;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button-campaing:hover {
  text-decoration: none;
  color: $white;
  background-color: $red;
}

.header-info {
  margin-top: 45px;
  padding-bottom: 100px;
}

.header-greeting {
  font-size: 15px;
  color: $white;
  margin: 0;
}

.header-title {
  font-size: 35px;
  color: $white;
  font-weight: bolder;
}

.header-info-box {
  padding: 10px;
  color: $white;
  background-color: $dark-gray;
  font-size: 14px;
}

.date-info {
  font-size: 15px;
  color: $red;
}

.date-info:hover {
  color: $white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.location-info {
  color: $white;
  font-size: 15px;
}

/* Main Program */

.main-program-item {
  max-height: 100%;
  color: $white;
  background-color: $dark-gray;
}

.program-icon {
  font-size: 50px;
}

.program-title {
  color: $red;
  font-size: 16px;
}

.program-info {
  font-size: 12px;
}

.program-link {
  font-size: 18px;
  margin-top: 65px;
  padding-bottom: 80px;
}

.join-link {
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  background-color: $red;
  padding: 30px;
  margin: 30px 0;
}

/* Featured Speakers */
.featured-speakers {
  color: $dark-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.featured-box {
  margin-top: 45px;
}

.featured-text-box {
  padding-top: 10px;
  margin: 0 0 50px 110px;
  height: 140px;
}

.speakers-name {
  color: $white;
  font-size: 17px;
  font-weight: bold;
}

.see-more-btn {
  background-color: $red;
  color: $white;
}

.speakers-qualification {
  color: $white;
  font-size: 12px;
  font-style: italic;
}

.speakers-info {
  color: $white;
  font-size: 12px;
}

.more-btn {
  margin: 50px 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.more-link {
  text-decoration: none;
  color: $black;
  font-size: 18px;
}

.more-link::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

/* Partners */
.partners {
  background-color: $dark-gray;
}

.partners-list {
  padding: 0;
  margin-bottom: 44px;
}

.partners-logo {
  width: auto;
  height: 65px;
}

/* Footer */

.form-input {
  background-color: $dark-gray;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .header-info {
    margin-top: 0;
    padding-top: 140px;
  }

  .header-title {
    font-size: 45px;
  }
}
